html {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

body {
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #9ef01a;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    display: flex;
    justify-content: center;
    background-color: #2b2b2b;
    margin: 3%;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.chartBox,
.query2 {
    width: 500px;
    background-color: #333333;
    border-radius: 15px;
    padding: 1.2rem;
    margin: 1rem;
    border: 1px solid #444;
    transition: 0.2s ease;
}

.chartBox:hover,
.query2:hover {
    background-color: #3a3a3a;
}

a {
    color: #9ef01a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p{
    width: 600px;
    font-size: large;
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}