body {
    margin: 20px;
    padding: 20px;
}

html{
    background-color: #222222;
}

.chartBox{
    width: 500px;
}

.query2{
    width: 500px;
}

h1{
    color: lawngreen;
}

section{
    display: flex;
    background-color: gray;
    margin: 5%;
}
